.license{
color: rgb(128, 128, 128);
}
a:link, a, a:visited{
text-decoration: underline, bold !important;
color: #369699;
}

.more-info{
  background-color:white;
  color:#fff;
  margin:5px;
  padding-top: 5px;
  padding-left: 5px;
  display:block;
}
.info-text{
  background-color:white;
  margin:7px;
  display:block;
  padding-left:0px;
  color: #000;
  border-bottom: 5px solid white;
}

body{
  background-image: url('ps_neutral.png');
}

.header, li, ul, ul li a, .logo{
 background-color: #fff; 
 color: #000 !important;
}
.footer-bars{
  background-image:url('footer.png');
}